
.background {
    overflow: hidden;
    /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */
    height: 100vh;
    background-image: url("../images/intro-bg.jpg");
    background-size: contain;
    background-repeat: unset;
}

//CustomBlock to style the text
.t-headline {
  position: relative;
  text-transform:none;
 /*  display: -webkit-flex; */
  display: flex;
 /*  -webkit-align-items: center; */
  align-items: center;
  width: auto;
  color: transparent;
  background: linear-gradient(
    #046,
    #38575f,
    #057,
    #068,
    #4d7878,
    #068,
    #057,
    #4d7878,
    #057,
    #068,
    #38575f,
    #046
  );
  /* -webkit-background-clip: text; */
  background-clip: text;
  /* Inside auto layout */
  flex:content;
  order: 0;
  flex-grow: 0;
}

.t-headline:before{
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(
    360deg,
    #ffffe0,
    #ffffcc,
    #ffffb3,
    #ffff99,
    #ffff80,
    #fbff66,
    #fbfba0,
    #fbff66,
    #ffff80,
    #ffff99,
    #ffffb3,
    #ffffcc,
    #ffffe0
  );
  background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  line-height: 1.4;
  clip-path: ellipse(120px 120px at -2.54% -9.25%);
  animation: swing 5s infinite;
  animation-direction: alternate;
}

@keyframes swing{
  0%{
     /* -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%); */
    clip-path: ellipse(120px 120px at -2.54% -9.25%)
  }
  50%{
    /* -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%); */
    clip-path: ellipse(120px 120px at 49.66% 64.36%);

  }
  100%{
     /* -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%); */
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}

@media only screen and (max-width: 768px) {
  /* .t-headline{
    color: #068;
  } */
  .t-headline:before{
    animation: none;
    background: none;
  }

}

/* NEON */
.sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
/*   background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #212104,
    transparent
  ); */
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 10%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 90px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #fff765,
    -0.2rem 0.1rem 1rem #fcff65, 0.2rem 0.1rem 1rem #f7ff65,
    0 -0.5rem 2rem #fffb24, 0 0.5rem 3rem #fff424;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #fff765,
      -0.2rem 0.1rem 1rem #fcff65, 0.2rem 0.1rem 1rem #f7ff65,
      0 -0.5rem 2rem #fffb24, 0 0.5rem 3rem #fff424;
  }
  28%,
  33% {
    color: #7a8034;
    text-shadow: none;
  }
  82%,
  97% {
    color: #7b7f14;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #e0e03a;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #fff765,
      -0.2rem 0.1rem 1rem #fcff65, 0.2rem 0.1rem 1rem #f7ff65,
      0 -0.5rem 2rem #fffb24, 0 0.5rem 3rem #fff424;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
